{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Lista Empresas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo Empresa</th>
                <th>Nombre</th>
                <th>Representante Legal</th>
                <th>RUT</th>
                <th>NIT</th>
                <th>Email</th>
                <th>Ciudad</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td><a href="{{ path('empresa_show', { 'id': empresa.id }) }}">{{ empresa.id }}</a></td>
                <td>{{ empresa.tipoempresa }}</td>
                <td>{{ empresa.nombre }}</td>
                <td>{{ empresa.representantelegal }}</td>
                <td>{{ empresa.rut }}</td>
                <td>{{ empresa.nit }}</td>
                <td>{{ empresa.email }}</td>
                <td>{{ empresa.ciudad }}</td>
                <td>{{ empresa.direccion }}</td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a title="Ver" alt="Ver" href="{{ path('empresa_show', { 'id': empresa.id }) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="Editar" alt="Editar" href="{{ path('empresa_edit', { 'id': empresa.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('empresa_new') }}">Nuevo</a>
        </li>
    </ul>
{% endblock %}
