{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Empresa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empresa.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ empresa.nombre }}</td>
            </tr>
            <tr>
                <th>NIT</th>
                <td>{{ empresa.nit }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ empresa.email }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ empresa.ciudad }}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ empresa.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ empresa.telefono }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('empresa_index') }}">Volver</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('empresa_edit', { 'id': empresa.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
