{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Lista de Proyectos</h1>

    <table class="table table-inverse">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Geometria</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proyecto in proyectos %}
            <tr>
                <td><a href="{{ path('proyecto_show', { 'id': proyecto.id }) }}">{{ proyecto.nombre }}</a></td>
                <td>{{ proyecto.geometria }}</td>
                <td>{{ proyecto.id }}</td>
                <td>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="{{ path('proyecto_show', { 'id': proyecto.id }) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('proyecto_edit', { 'id': proyecto.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('proyecto_new') }}">Nuevo</a>
        </li>
    </ul>
{% endblock %}
