{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Nuevo Proyecto</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        {{ form_label(form.involucrados, 'Involucrados') }}
        {{ form_errors(form.involucrados) }}
        {{ form_widget(form.involucrados, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.nombre, 'Nombre') }}
        {{ form_errors(form.nombre) }}
        {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.encargado, 'Encargado') }}
        {{ form_errors(form.encargado) }}
        {{ form_widget(form.encargado, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.idEmpresa, 'Empresa') }}
        {{ form_errors(form.idEmpresa) }}
        {{ form_widget(form.idEmpresa, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.idFuenteHidrica, 'Fuente Hidríca') }}
        {{ form_errors(form.idFuenteHidrica) }}
        {{ form_widget(form.idFuenteHidrica, {'attr': {'class': 'form-control'}}) }}
    </div>
    <input class="btn btn-default" type="submit" value="Crear"/>
    {{ form_end(form) }}
    <br/>

    <ul class="list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('proyecto_index') }}">Volver</a>
        </li>
    </ul>
{% endblock %}
