{% extends 'sigmabase.html.twig' %}

{% block body %}
  <h1>Editar Punto de Control</h1>

  {{ form_start(edit_form) }}
  <div class="form-group">
    {{ form_label(edit_form.etiqueta, 'Etiqueta') }}
    {{ form_errors(edit_form.etiqueta) }}
    {{ form_widget(edit_form.etiqueta, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.geometria, 'Geometría') }}
    {% include 'puntocontrol/editor.html.twig' %}
    {{ form_errors(edit_form.geometria) }}
    {{ form_widget(edit_form.geometria, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.idProyecto, 'Proyecto') }}
    {{ form_errors(edit_form.idProyecto) }}
    {{ form_widget(edit_form.idProyecto, {'attr': {'class': 'form-control'}}) }}
  </div>
  <input class="btn btn-default" type="submit" value="Guardar"/>
  {{ form_end(edit_form) }}
  <br/>
  <ul class="list-inline">
    <li>
      <a class="btn btn-info" href="{{ path('puntocontrol_index') }}">Volver</a>
    </li>
    <li>
      {{ form_start(delete_form) }}
      <input class="btn btn-danger" type="submit" value="Eliminar">
      {{ form_end(delete_form) }}
    </li>
  </ul>
{% endblock %}
