{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Lista de Puntos de Control</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etiqueta</th>
                <th>Geometría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for puntoControl in puntoControls %}
            <tr>
                <td><a href="{{ path('puntocontrol_show', { 'id': puntoControl.id }) }}">{{ puntoControl.id }}</a></td>
                <td>{{ puntoControl.etiqueta }}</td>
                <td>{{ puntoControl.geometria }}</td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a title="Ver" alt="Ver" href="{{ path('puntocontrol_show', { 'id': puntoControl.id }) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="Editar" alt="Editar" href="{{ path('puntocontrol_edit', { 'id': puntoControl.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="Gráficos Parámetros" alt="Gráficos Parámetros" href="{{ path('puntocontrol_muestras', { 'id': puntoControl.id }) }}"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('puntocontrol_new') }}">Nuevo</a>
        </li>
    </ul>
{% endblock %}
