{% extends 'base.html.twig' %}

{% block body %}
    <h1>PuntoControl list</h1>

    <table>
        <thead>
            <tr>
                <th>Etiqueta</th>
                <th>Geometria</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for puntoControl in puntoControls %}
            <tr>
                <td><a href="{{ path('puntocontrol_show', { 'id': puntoControl.id }) }}">{{ puntoControl.etiqueta }}</a></td>
                <td>{{ puntoControl.geometria }}</td>
                <td>{{ puntoControl.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('puntocontrol_show', { 'id': puntoControl.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('puntocontrol_edit', { 'id': puntoControl.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('puntocontrol_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
