{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Punto de Control</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ puntoControl.id }}</td>
            </tr>
            <tr>
                <th>Etiqueta</th>
                <td>{{ puntoControl.etiqueta }}</td>
            </tr>
            <tr>
                <th>Geometría</th>
                <td>{{ puntoControl.geometria }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('puntocontrol_index') }}">Volver</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('puntocontrol_edit', { 'id': puntoControl.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
