{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Editar Parametro</h1>

    {{ form_start(edit_form) }}
    <div class="form-group">
        {{ form_label(edit_form.nombre, 'Nombre Parametro') }}
        {{ form_errors(edit_form.nombre) }}
        {{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.unidad, 'Unidad') }}
        {{ form_errors(edit_form.unidad) }}
        {{ form_widget(edit_form.unidad, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.idMuestra, 'Muestra') }}
        {{ form_errors(edit_form.idMuestra) }}
        {{ form_widget(edit_form.idMuestra, {'attr': {'class': 'form-control'}}) }}
    </div>
    <input class="btn btn-default"  type="submit" value="Guardar"/>
    {{ form_end(edit_form) }}
    <br/>
    <ul class="list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('parametro_index') }}">Volver</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
