{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Lista de Parametros</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Unidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for parametro in parametros %}
            <tr>
                <td><a href="{{ path('parametro_show', { 'id': parametro.id }) }}">{{ parametro.id }}</a></td>
                <td>{{ parametro.nombre }}</td>
                <td>{{ parametro.unidad }}</td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="{{ path('parametro_show', { 'id': parametro.id }) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ path('parametro_edit', { 'id': parametro.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('parametro_new') }}">Nuevo</a>
        </li>
    </ul>
{% endblock %}
