{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Parametro</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parametro.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ parametro.nombre }}</td>
            </tr>
            <tr>
                <th>Unidad</th>
                <td>{{ parametro.unidad }}</td>
            </tr>
        </tbody>
    </table>
    <ul class="list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('parametro_index') }}">Volver</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('parametro_edit', { 'id': parametro.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
