{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nickname }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ usuario.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('usuario_index') }}">Volver</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('usuario_edit', { 'id': usuario.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
