{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Lectura</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Concentracion</th>
                <td>{{ lectura.concentracion }}</td>
            </tr>
            <tr>
                <th>Tecanalitica</th>
                <td>{{ lectura.tecAnalitica }}</td>
            </tr>
            <tr>
                <th>Lc</th>
                <td>{{ lectura.lc }}</td>
            </tr>
            <tr>
                <th>Incertidumbre</th>
                <td>{{ lectura.incertidumbre }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ lectura.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('lectura_index') }}">Volver</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('lectura_edit', { 'id': lectura.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="E">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
