{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Lista Fuentes Hidricas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Geometria</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fuenteHidrica in fuenteHidricas %}
            <tr>
                <td><a href="{{ path('fuentehidrica_show', { 'id': fuenteHidrica.id }) }}">{{ fuenteHidrica.id }}</a></td>
                <td>{{ fuenteHidrica.geometria }}</td>
                <td>{{ fuenteHidrica.nombre }}</td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a title="Ver" alt="Ver" href="{{ path('fuentehidrica_show', { 'id': fuenteHidrica.id }) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="Editar" alt="Editar" href="{{ path('fuentehidrica_edit', { 'id': fuenteHidrica.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('fuentehidrica_new') }}">Nuevo</a>
        </li>
    </ul>
{% endblock %}
