{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Nueva Fuente Hidrica</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        {{ form_label(form.geometria, 'Tipo Empresa') }}
        {{ form_errors(form.geometria) }}
        {{ form_widget(form.geometria, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.nombre, 'Tipo Empresa') }}
        {{ form_errors(form.nombre) }}
        {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.idProyecto, 'Tipo Empresa') }}
        {{ form_errors(form.idProyecto) }}
        {{ form_widget(form.idProyecto, {'attr': {'class': 'form-control'}}) }}
    </div>
    <input class="btn btn-default" type="submit" value="Crear"/>
    {{ form_end(form) }}
    <br/>

    <ul class="list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('fuentehidrica_index') }}">Volver</a>
        </li>
    </ul>
{% endblock %}
