{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Fuente Hidríca</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fuenteHidrica.id }}</td>
            </tr>
            <tr>
                <th>Geometria</th>
                <td>{{ fuenteHidrica.geometria }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ fuenteHidrica.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('fuentehidrica_index') }}">Volver</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('fuentehidrica_edit', { 'id': fuenteHidrica.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
