{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Editar Usuario</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        {{ form_label(edit_form.alias, 'Nombre') }}
        {{ form_errors(edit_form.alias) }}
        {{ form_widget(edit_form.alias, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.nombre, 'Nombre Completo') }}
        {{ form_errors(edit_form.nombre) }}
        {{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.mail, 'Correo') }}
        {{ form_errors(edit_form.mail) }}
        {{ form_widget(edit_form.mail, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.idEmpresa, 'Empresa') }}
        {{ form_errors(edit_form.idEmpresa) }}
        {{ form_widget(edit_form.idEmpresa, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.idRol, 'Rol') }}
        {{ form_errors(edit_form.idRol) }}
        {{ form_widget(edit_form.idRol, {'attr': {'class': 'form-control'}}) }}
    </div>
    <ul class="list-inline">
        <li>
            <input class="btn btn-default"  type="submit" value="Guardar"/>
        </li>
        <li>
            <a class="btn btn-info" href="{{ path('usuario_index') }}">Volver</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {{ form_end(edit_form) }}
{% endblock %}
