{% extends 'sigmabase.html.twig' %}

{% block body %}
<h1>Editar Muestra</h1>

{{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
<div class="form-group">
  {{ form_label(edit_form.responsable, 'Responsable') }}
  {{ form_errors(edit_form.responsable) }}
  {{ form_widget(edit_form.responsable, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
  {{ form_label(edit_form.elementoAmbiental, 'Elemento Ambiental') }}
  {{ form_errors(edit_form.elementoAmbiental) }}
  {{ form_widget(edit_form.elementoAmbiental, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
  {{ form_label(edit_form.fotos, 'Foto') }}
  {{ form_errors(edit_form.fotos) }}
  {{ form_widget(edit_form.fotos, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
  {{ form_label(edit_form.fechaToma, 'Fecha Toma') }}
  {{ form_errors(edit_form.fechaToma) }}
  {{ form_widget(edit_form.fechaToma, {'attr': {'class': 'selectpicker'}}) }}
</div>
<div class="form-group">
  {{ form_label(edit_form.fechaRecepcion, 'Fecha Recepción') }}
  {{ form_errors(edit_form.fechaRecepcion) }}
  {{ form_widget(edit_form.fechaRecepcion, {'attr': {'class': 'selectpicker'}}) }}
</div>
<div class="form-group">
  {{ form_label(edit_form.fechaAnalisis, 'Fecha Análisis') }}
  {{ form_errors(edit_form.fechaAnalisis) }}
  {{ form_widget(edit_form.fechaAnalisis, {'attr': {'class': 'selectpicker'}}) }}
</div>
<div class="form-group">
  {{ form_label(edit_form.tipoMuestreo, 'Tipo Muestreo') }}
  {{ form_errors(edit_form.tipoMuestreo) }}
  {{ form_widget(edit_form.tipoMuestreo, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
  {{ form_label(edit_form.idPuntoControl, 'Punto de Control') }}
  {{ form_errors(edit_form.idPuntoControl) }}
  {{ form_widget(edit_form.idPuntoControl, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
  {{ form_label(edit_form.analisis, 'Análisis') }}
  {{ form_errors(edit_form.analisis) }}
  {{ form_widget(edit_form.analisis, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
  {{ form_label(edit_form.pdfLab, 'Informe Laboratorio') }}
  {{ form_errors(edit_form.pdfLab) }}
  {{ form_widget(edit_form.pdfLab, {'attr': {'class': 'form-control'}}) }}
</div>
<input class="btn btn-default" type="submit" value="Guardar"/>
{{ form_end(edit_form) }}
<br/>
<ul class="list-inline">
  <li>
    <a class="btn btn-info" href="{{ path('muestra_index') }}">Volver</a>
  </li>
  <li>
    {{ form_start(delete_form) }}
      <input class="btn btn-danger" type="submit" value="Eliminar">
    {{ form_end(delete_form) }}
  </li>
</ul>
{% endblock %}
