{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Lista Muestras</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Responsable</th>
                <th>Producto</th>
                <th>Lugartoma</th>
                <th>Foto</th>
                <th>Num Muestras</th>
                <th>Fecha Toma</th>
                <th>Fecha Recepción</th>
                <th>Fecha Analisis</th>
                <th>Tipo Muestreo</th>
                <th>Geometría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for muestra in muestras %}
            <tr>
                <td><a href="{{ path('muestra_show', { 'id': muestra.id }) }}">{{ muestra.id }}</a></td>
                <td>{{ muestra.responsable }}</td>
                <td>{{ muestra.producto }}</td>
                <td>{{ muestra.lugarToma }}</td>
                <td>{{ muestra.foto }}</td>
                <td>{{ muestra.nMuestras }}</td>
                <td>{% if muestra.fechaToma %}{{ muestra.fechaToma|date('Y-m-d') }}{% endif %}</td>
                <td>{% if muestra.fechaRecepcion %}{{ muestra.fechaRecepcion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if muestra.fechaAnalisis %}{{ muestra.fechaAnalisis|date('Y-m-d') }}{% endif %}</td>
                <td>{{ muestra.tipoMuestreo }}</td>
                <td>{{ muestra.geometria }}</td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a title="Ver" alt="Ver" href="{{ path('muestra_show', { 'id': muestra.id }) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="Editar" alt="Editar" href="{{ path('muestra_edit', { 'id': muestra.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
          <a class="btn btn-default" href="{{ path('muestra_new') }}">Nuevo</a>
        </li>
    </ul>
{% endblock %}
