{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Nueva Muestra</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
      {{ form_label(form.responsable, 'Responsable') }}
      {{ form_errors(form.responsable) }}
      {{ form_widget(form.responsable, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.elementoAmbiental, 'Elemento Ambiental') }}
      {{ form_errors(form.elementoAmbiental) }}
      {{ form_widget(form.elementoAmbiental, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.fotos, 'Foto') }}
      {{ form_errors(form.fotos) }}
      {{ form_widget(form.fotos, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.fechaToma, 'Fecha Toma') }}
      {{ form_errors(form.fechaToma) }}
      {{ form_widget(form.fechaToma, {'attr': {'class': 'selectpicker'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.fechaRecepcion, 'Fecha Recepci칩n') }}
      {{ form_errors(form.fechaRecepcion) }}
      {{ form_widget(form.fechaRecepcion, {'attr': {'class': 'selectpicker'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.fechaAnalisis, 'Fecha An치lisis') }}
      {{ form_errors(form.fechaAnalisis) }}
      {{ form_widget(form.fechaAnalisis, {'attr': {'class': 'selectpicker'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.tipoMuestreo, 'Tipo Muestreo') }}
      {{ form_errors(form.tipoMuestreo) }}
      {{ form_widget(form.tipoMuestreo, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.idPuntoControl, 'Punto de Control') }}
      {{ form_errors(form.idPuntoControl) }}
      {{ form_widget(form.idPuntoControl, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.analisis, 'An치lisis') }}
      {{ form_errors(form.analisis) }}
      {{ form_widget(form.analisis, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.pdfLab, 'Informe Laboratorio') }}
      {{ form_errors(form.pdfLab) }}
      {{ form_widget(form.pdfLab, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.idParametro, 'Par치metro') }}
      {{ form_errors(form.idParametro) }}
      {{ form_widget(form.idParametro, {'attr': {'class': 'form-control'}}) }}
    </div>
    <input class="btn btn-default" type="submit" value="Crear"/>
    {{ form_end(form) }}
    <br/>

    <ul class="list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('muestra_index') }}">Volver</a>
        </li>
    </ul>
{% endblock %}
