{% extends 'sigmabase.html.twig' %}

{% block body %}
    <h1>Nueva Muestra</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
      {{ form_label(form.responsable, 'Responsable') }}
      {{ form_errors(form.responsable) }}
      {{ form_widget(form.responsable, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.producto, 'Producto') }}
      {{ form_errors(form.producto) }}
      {{ form_widget(form.producto, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.lugarToma, 'Lugar de Toma') }}
      {{ form_errors(form.lugarToma) }}
      {{ form_widget(form.lugarToma, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.foto, 'Foto') }}
      {{ form_errors(form.foto) }}
      {{ form_widget(form.foto, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.nMuestras, 'Número de Muestras') }}
      {{ form_errors(form.nMuestras) }}
      {{ form_widget(form.nMuestras, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.fechaToma, 'Fecha Toma') }}
      {{ form_errors(form.fechaToma) }}
      {{ form_widget(form.fechaToma, {'attr': {'class': 'selectpicker'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.fechaRecepcion, 'Fecha Recepción') }}
      {{ form_errors(form.fechaRecepcion) }}
      {{ form_widget(form.fechaRecepcion, {'attr': {'class': 'selectpicker'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.fechaAnalisis, 'Fecha Análisis') }}
      {{ form_errors(form.fechaAnalisis) }}
      {{ form_widget(form.fechaAnalisis, {'attr': {'class': 'selectpicker'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.tipoMuestreo, 'Tipo Muestreo') }}
      {{ form_errors(form.tipoMuestreo) }}
      {{ form_widget(form.tipoMuestreo, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.geometria, 'Geometría') }}
      {{ form_errors(form.geometria) }}
      {{ form_widget(form.geometria, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.idFuenteHidrica, 'Fuente Hídrica') }}
      {{ form_errors(form.idFuenteHidrica) }}
      {{ form_widget(form.idFuenteHidrica, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.idParametro, 'Parámetro') }}
      {{ form_errors(form.idParametro) }}
      {{ form_widget(form.idParametro, {'attr': {'class': 'form-control'}}) }}
    </div>
    <input class="btn btn-default" type="submit" value="Crear"/>
    {{ form_end(form) }}
    <br/>

    <ul class="list-inline">
        <li>
            <a class="btn btn-info" href="{{ path('muestra_index') }}">Volver</a>
        </li>
    </ul>
{% endblock %}
