{% block body %}
    <h1>Lista Muestras</h1>
    <table class="table">
        <thead>
          <tr>
              <th>Id</th>
              <th>Responsable</th>
              <th>Elemento Ambiental</th>
              <th>Fotos</th>
              <th>Fecha Toma</th>
              <th>Fecha Recepción</th>
              <th>Fecha Analisis</th>
              <th>Tipo Muestreo</th>
          </tr>
        </thead>
        <tbody>
        {% for muestra in muestras %}
        <tr>
            <td><a href="{{ path('muestra_show', { 'id': muestra.id }) }}">{{ muestra.id }}</a></td>
            <td>{{ muestra.responsable }}</td>
            <td>{{ muestra.elementoAmbiental }}</td>
            <td>{{ muestra.fotos }}</td>
            <td>{% if muestra.fechaToma %}{{ muestra.fechaToma|date('Y-m-d') }}{% endif %}</td>
            <td>{% if muestra.fechaRecepcion %}{{ muestra.fechaRecepcion|date('Y-m-d') }}{% endif %}</td>
            <td>{% if muestra.fechaAnalisis %}{{ muestra.fechaAnalisis|date('Y-m-d') }}{% endif %}</td>
            <td>{{ muestra.tipoMuestreo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
